spring:
  application:
    name: hoppin
  datasource:
    url: jdbc:postgresql://100.124.129.13:5432/hoppin
    username: appuser
    password: strongpassword
    driver-class-name: org.postgresql.Driver

  hikari:
    minimum-idle: 5
    maximum-pool-size: 10
    idle-timeout: 30000
    max-lifetime: 1800000
    connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true


server:
  port: 8080
  servlet:
    context-path: /api/v1
